# SYD DAT 8 Homework 1 - Git and Markdown

# Homework Output

## Set up
* Resolve any installation issues before next class.
* Make sure you have a github profile and created a repo called \"SYD_DAT_8\"
* Clone the class repo (this one!)
* Review this [code](../labs/Week 1/00_python_refresher.py) for a recap of some Python basics.

## Communication
### 5 Key Points from [Analyzing the Analyzers](http://http://cdn.oreillystatic.com/oreilly/radarreport/0636920029014/Analyzing_the_Analyzers.pdf)
Read [Analyzing the Analyzers](http://cdn.oreillystatic.com/oreilly/radarreport/0636920029014/Analyzing_the_Analyzers.pdf) for a useful look at the different types of data scientists. Write down 5 key points you took away from the article

* There is a broad misunderstanding of what data scientists do, and this has caused consternation with hiring. The authors set out to approach the problem the only way they knew how; data. 
* They collected data on how data scientists view themselves and came out with 4 categories:
1. *Data Businesspeople* = 
 * most focused on the organization and how data projects yield profit; 
 * most likely to rate themselves highly as leaders and entrepreneurs; 
 * most likely to have reported managing an employee (about 80% have); 
 * quite likely to have done contract or consulting work + a substantial proportion have started a business;
 * least likely to have an advanced degree among our respondents, with about 60% having a Master’s or beyond;
 * most likely to have an MBA, at nearly 25%;
 * definitely have technical skills and were particularly likely to have undergraduate Engineering degrees
 * about 90% report at least occasionally working on gigabyte-scale problems, which far exceeds quarterly financials in a spreadsheet.  
2. *Data Creatives* = 
 * excel at applying a wide range of tools and technologies to a problem, or creating innovative prototypes at hackathons — the quintessential Jack of All Trades;
 * latched onto the term Artist like no other group;
 * have substantial academic experience, with about 3/4 having taught classes and presented papers;
 * common un‐ dergraduate degrees were in areas like Economics and Statistics, relatively few  have a PhD
 * have substantial business expertise — slightly more likely than Data Businesspeople to have done contract work (80%) or have started a business (40%);
 * most likely to identify as a Hacker;
 * had the deepest Open Source experience, with about half contributing to OSS projects and about half working on Open Data projects. 
3. *Data Developers* = 
 * focused on the technical problem of managing data — how to get it, store it, and learn from it; 
 * tended to rate themselves fairly highly as Scientists, although not as highly as Data Researchers did.
 * clearly writing code, probably production code, in their day-to-day work;
 * about half have Computer Science or Com‐ puter Engineering degrees, and about half have contributed to Open Source projects;
 * more Data Developers land in the Machine Learning/ Big Data skills group than other types of data scientist;
 * least likely to have done consulting work, managed an employee, or contributed to an Open Data project.
4. *Data Researchers* = 
 * majority of respondents whose top Skills Group was Statistics ended up in this category, for instance;
 * nearly 75% of Data Researchers have published in peer-reviewed journals, and over half have a PhD;
 * least likely to have started a business;
 * only half have managed an employee.
* T-Shaped Data Scientist - overall base-level rankings in every skill group, but one stronger skill group.

### Summary of [The Data Science Handbook](http://www.thedatasciencehandbook.com/)

Write a summary of 2 chapters of [The Data Science Handbook](http://www.thedatasciencehandbook.com/) in Markdown in this notebook and commit it to your repository on github.

#### How to Develop Data Science Skills, George Roumeliotis (Intuit): 
> "Data Science is its own unique discipline, combining elements of applied mathematics, computer science, business consulting, and, increasingly, new product development."

* Focus shifted from marketing optimisation to UX to *leveraging big data and advanced analytics to create new products that solve important problems for our customers*. 
* Goal = Empower individuals and small businesses by allowing them to benefit from the power of their own data as well as the collective wisdom of millions of fellow  customers.
* More specifically, the technical table stakes for a Data Scientist are *advanced statistics, machine
 learning, SQL and Hadoop, and a mainstream programming language like Java*. So there’s a combination of applied mathematics and computer science. 
* Business consulting skills = equally important, but often overlooked. Can be the difference between a Data Scientist and a Data “Gopher" (someone who responds to incoming requests for analyzing this or that, but who never has a seat at the table when the business decisions are being made). 
* Need to learn:
 * R
 * a mainstream programming language like Java or C++. 
 * a mainstream scripting language like Python or Perl.
* Start with bottom line up front, rather than hypothesis-tests-results, in a business setting (cf. academia). Allocate time as if you are the business owner.
* Build relationships with non-technical colleagues and practice viewing the world in terms of business processes.
* A successful Data Scientist changes the world around them.

#### On Becoming a Successful Data Scientist, Hilary Mason:
> "A data scientist is someone who sits down with a question and gathers some data to answer it, or someone who starts with a data set and asks questions to learn more about it. They do some math, write some code, do the analysis, and then come to a conclusion." 

* Now the base infrastructure of data work is mature, and companies are working to make it easier to work with them.
* Culture is important; data culture needs to grow.
* Data scientists should function as the facilitator of asking and solving business questions. 
* Data science also involves story-telling - which is often neglected. 
* Working in a start-up with data is better than academia, where there isn't something collecting data already, or big business, where the data is stuck in databases or are highly controlled.
* Start-ups are the perfect place where you have a product that’s generating its own data. As a data scientist you have input into how the product changes, so you can ask, “Can we collect this other thing?” or “Do you think if we tried this we might learn something else?” It’s very open as to what you do with it.
* Look for good data sets. 
* When starting a project, the first question is: can we define the question we're interested in? The second question is: how do we know we've won? Thirdly, what's the first thing we will do with the output, as a business?
* https://gist.github.com/campeterson/5946446

##  Programming
### Exercise Four - Movie Lens Data
Complete the lab from class and the additional Exercise below

In [60]:
import numpy as np
import pandas as pd
#create column names
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
#import data as users
users = pd.read_table('../data/u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})# for each occupation in 'users', count the number of occurrences
#create data subset by occupation to make it easier for me
byoccupation = users.groupby('occupation')
# for each occupation, calculate the mean age
byoccupation.age.mean()
# for each occupation, calculate the minimum and maximum ages
byoccupation.age.min()
byoccupation.age.max()
# for each combination of occupation and gender, calculate the mean age
users.groupby(['occupation', 'gender']).age.mean()
# randomly sample a DataFrame
users.sample()
# detect duplicate users
duplicates = users.duplicated()
# print duplicates
users[duplicates == True]

         age gender occupation zip_code
user_id
496       21      F    student    55414
572       51      M   educator    20003
621       17      M    student    60402
684       28      M    student    55414
733       44      F      other    60630
805       27      F      other    20009
890       32      M    student    97301

## Course Project

* Come up with 5 different ideas for your course project. For each one list:
  * Overview of your idea
  * What data you will use
  * What the outcome is that you are trying to achieve
  * Any ideas of modelling techniques it may involve

### Project idea 1: